<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="./index" routerLinkActive="active">
      <img src="assets/ang.jfif" style="width:90px;">
    </a>
   
    <ul class="navbar-nav">
      <li >
        <a routerLink="./employee" routerLinkActive="active">Employee</a>
      </li>
      <li >
        <a routerLink="./department" routerLinkActive="active">Department</a>
      </li>
      <li >
        <a routerLink="./empdetails" routerLinkActive="active">Employee Details</a>
      </li>
    </ul>
  </nav>

  <br>
  <br>
  <br>
  <br>
      
<!--The content below is only a placeholder and can be replaced.-->
<div id="outer">
  <router-outlet></router-outlet>
</div>

</body>
</html>

<!--
<app-emp-details></app-emp-details>
<app-employee></app-employee>
-->